<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="aebd28f9-feba-42b0-800e-ee3d4720b365" Publisher="CN=tcecsekelab" Version="1.0.0.5" />
  <Properties>
    <DisplayName>App6</DisplayName>
    <PublisherDisplayName>tcecsekelab</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="App6.App">
      <VisualElements DisplayName="FLAMES" Logo="lo.png" SmallLogo="los.jpg" Description="Know your relationship with anyone." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" ShortName="PLAY" />
        <SplashScreen Image="splash.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>